APP_NAME=tripteki
APP_SECRET=
APP_ENV=production
APP_PORT=8000
FRONTEND_URL=http://localhost:3000
LOCALE=id
FALLBACK_LOCALE=en

LOG_LEVEL=DEBUG

SWAGGER_DESCRIPTION="Trip Teknologi Documentation"
PLAYGROUND_DESCRIPTION="Trip Teknologi Documentation"
